p{
    color: #fff;
}
h2{
    color: #fff;
}
#pai{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    background-color: black;
    justify-content: center;
}

.filho{
    max-width: 300px;
    padding:60px 20px;
}
.filho img{
    max-width: 100%;
}
.filho p{
    padding-bottom: 70px;
}
.bottom{
    color: hsl(0, 0%, 0%);
    text-decoration: none;
    background-color: rgb(253, 253, 253);
    justify-content: center;
    display: flex;
    border-radius: 10px;
    padding: 15px 0;
    
}
.filho:hover{
    .bottom{background-color: #333; color: #fff;}
    img{
        display: none;
    }
    align-content: flex-end;
    
    
} 
.bottom:hover{
    background-color: rgb(83, 83, 83);
    color: #fff;
   
}

@media screen and (max-width: 1024px) {
    #pai{
        flex-direction: column;
    }
    .filho{
        justify-content: center;
        max-width: 100%;
    }
    
}
