.bottom{
        margin: 0 auto;  
        max-width: 768px;
        padding: 30px 0;
        text-align: center;  
 }
.bottom a{
    font-size: 50px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: #333;
    border-radius: 20px;
 }
.bottom a:hover{
    color:#7c0404;
 }
h1{
    text-align: center;
}