.container{
    max-width: 1024px;
    margin: 0 auto;
    display:flex;
}
.black{
    width: 400px;
    height: 400px;
 
    padding: 30px;
    margin: 30px;
}

.white{
    width: 400px;
    height: 400px;
    
    padding: 30px;
    margin: 30px;
}
.white p{
    color: #333;
}